@(commStat: model.CommitStat)
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<center><h1>Commit Statistics of @commStat.repository Repository</h1></center>
<h3>Top 10 Committers</h3>
<ul>
@for(comm <- commStat.top_committers){
  <li>@comm</li>
}
</ul>
<h3>Addition and Deletion Statistics</h3>
<table>
	<tr>
	    <th></th>
		<th>Maximum</th>
		<th>Minimum</th>
		<th>Average</th> 
	</tr>
	<tr>
	    <th>Addition</th>
	    <td>@commStat.max_additions</td>
	    <td>@commStat.min_additions</td>
	    <td>@commStat.avg_additions</td>
	</tr>
	<tr>
	    <th>Deletion</th>
	    <td>@commStat.max_deletions</td>
	    <td>@commStat.min_deletions</td>
	    <td>@commStat.avg_deletions</td>
	</tr>
</table>
</body>
</html>