@(repos: List[model.Repository])
@import java.math.BigInteger; var i=1;
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<center>
	<h2>
		Gitterific
	</h2>
</center>
<body>
	<center>
		<form method="GET" action="search">
		 Search : <input type="text" name="query"></input>
		 <input type="submit" value="Go"></input>
		</form>
	</center>
	<center>
	    <table>
	         <tr>
			    <th>User</th>
			    <th>Repository</th>
			    <th>Issues</th>
			    <th>Topics</th>
			    <th>Commit Statistics</th>
             </tr>
	    @for(repo <- repos){
	         
	         @if(i%10 != 0) {
		      <tr>
		      		<td><a href="/users/@repo.login" style="text-decoration: none;">@repo.login</a>
	 			    <td>@repo.name</td>
				    <td>@repo.issues_url</td>
				    <td>
				    	<table style="border:none">
				    		<tr>
				    		@for(topic <- repo.topics) {
				    			<tr>
				    				<td style="border:none">
							        	<a href="/topics/@topic" style="text-decoration: none;" target="_blank">
							        		@topic
							        	</a>
				    				</td>
							    </tr>
				    		}
						   </tr>
						</table>
				    </td>
				    <td><a href="search/@repo.login/@repo.name/commits" style="text-decoration: none;" target="_blank">Link</a></td>
	          </tr>
	          } else {
	              <tr>
	                <td colspan="5" bgcolor="#00ff00" style="height:20"></td>
	              </tr>
	          }
	          
	          @{i = i+1}
	    }
	   </table>
	</center>
</body>
</html>